<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GESFARM</title>

    @Styles.Render("~/Content/css")


    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
    
    <div class="modal_load">
        <div id="Loaddiv" class="spinner-grow text-success"></div>
    </div>

    <div class="wrapper">
        <div id="Loaddiv" class="spinner-grow text-success"></div>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Resumen</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Menu</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Inventario</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/GESFARM/Inventario/MinMax">Min / Max</a>
                        </li>
                        <li>
                            <a href="/GESFARM/Inventario/Detalle">Detalle</a>
                        </li>
                        <li>
                            <a href="/GESFARM/Inventario/Instancias">Instancias</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#MenuEquivalencia" data-toggle="collapse" aria-expanded="false">Equivalencia</a>
                    <ul class="collapse list-unstyled" id="MenuEquivalencia">
                        <li>
                            <a href="/GESFARM/PrinAct/PrincipioActivo">Principios Activos</a>
                        </li>
                        <li>
                            <a href="/GESFARM/Presentacion/Index">Presentacion</a>
                        </li>
                        <li>
                            <a href="/GESFARM/Equivalencia/Productos">Productos</a>
                        </li>
                        <li>
                            <a href="/GESFARM/Equivalencia/Totales">Totales</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/GESFARM/Diario">Diario</a>
                </li>
                <li>
                    <a href="/GESFARM/Mensual">Mensual</a>
                </li>
                <li>
                    <a href="/GESFARM/Traspaso">Traspaso</a>
                </li>

            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </nav>
            <div>
                @RenderBody()
            </div>

        </div>
    </div>

    <div class="overlay"></div>




    @Scripts.Render("~/bundles/jquery?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/jqueryUI?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/bootstrap?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/Comun?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @Scripts.Render("~/bundles/mCustomScrollbar?r=" + DateTime.Now.ToString("ddmmyymiss"))
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>
</html>
